.course-container {
  padding: 20px;
}

.lesson-card {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #f3f3f3;
}

.assignments ul {
  margin: 0;
  padding-left: 20px;
}
