.course-info-tab-container {
  padding: 0.5rem;
}

@media (min-width: 640px) {
  .course-info-tab-container {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .course-info-tab-container {
    padding: 1.5rem;
  }
}

.form-group {
  @apply mb-4;
}
